# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
federated-credential.json
crash.log
override.tf
override.tf.json

# Python
__pycache__/
*.pyc
.venv/
agent/results/
agent/data/baseline_query_response.jsonl

# Env
.env
